.category-container{
    white-space: nowrap;
    width: 100%;
    display: flex;
    align-items: center;
    overflow-x: auto;
    padding-bottom: 10px;
    gap: 25px;
}
.categories-item {
    text-align: center;
    font-size: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-width: fit-content;
}

.categories-item-selected{
    text-align: center;
    font-size: 10px;
    display: inline-block;
    position: relative;
    cursor: pointer;
    min-width: fit-content;
    background-color: red;
}

.selected{
    filter: brightness(0.4);
}

.image-container {
    position: relative;
}
.categories-image {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid #ddd;
    transition: opacity 0.3s ease;
}
.selected .categories-image {
    opacity: 0.5; /* Mờ hình ảnh khi được chọn */}
h1 {
    text-align: center;
}
.tick-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 24px;
    color: #37ff3f;
    border-radius: 50%;
    padding: 5px 10px;
    filter: none;
}
